


<h1>Use Htl code</h1>
<div data-sly-use.model = com.adobe.aem.may.batch.core.models.MangoParent>

    ${model.text}  <br>
    ${model.des}   <br>
    ${model.num} <br>

    <h1>PageName: ${model.articleTitle}</h1><br>
    <h1>PagePath: ${model.articlePagePath}</h1><br>

    <h2>UserId :${model.webContentNode}</h2><br>
    <h2>Primary Type: ${model.articlePrimaryName}</h2> <br>

    <div data-sly-list.item=${model.bookdetailswithmap}>

         <h2 class="title" > ${item.bookname} </h2><br>
         <h2 class="des" > ${item.bookdes} </h2> <br>
         <h2 class="num" >${item.booknum} </hr> <br>

         <h2 class = "day" >${ 'dd-MM-yyyy' @ format=item.bookpublishdate}</h2>

      <div data-sly-list.item1=${item.bookdetailswithwriter}>

         <h3 class ="writertitle">  ${item1.writername} </h3><br>
         <h3 class ="writerdes">${item1.writerinfo}  </h3><br>
         <h3 class ="writernum">${item1.writernum} </h3> <br>
         <h3 class ="writerdob">${ 'dd-MM-yyyy' @ format=item1.writerdob}</h3>

      </div>


    </div>
 </div>

<h2>JavaScript Alert</h2>

<button class="button" onclick="myFunction()">Click me</button>




<h1>test HTL code</h1>
<div data-sly-test="${properties.checkbox}">
    <h2>this is checkbox</h2>
</div>

<h1>Include HTL code</1>
<div data-sly-include="mango1.html"></div>


<h1>resource HTL code</h1>
<div data-sly-resource="${Vation @resourceType='May/components/Vation'}"></div>

<h1>List HTL code</h1>
<div data-sly-set.items="${['java','html','css','react']}"></div>

<ul data-sly-list="${items}">

     <li> ${item}</li>
</ul>

<h1>repeat HTL code</h1>
<ul data-sly-repeat="${items}">

     <li> ${item}</li>
</ul>

<h1>template HTL code</h1>
<div data-sly-template.mango="${@val1,val2,val3,val4}">

      <h1>${val1}</h1>
      <h1>${val2}</h1>
      <h1>${val3}</h1>
      <h1>${val4}</h1>

</div>

<h1>call HTL code</h1>
<div data-sly-call="${mango @ val1='100',val2='90',val3='80',val4='70'}"></div>




